<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.multi.travel.mapper.TravelMapper">

    <select id="findAll" resultType="com.multi.travel.dto.TravelDTO">
        SELECT no, district, title, description, address, phone,
        lat AS lat, lng AS lng,
        imageUrl, extraImage
        FROM travel
        <if test="query != null and query != ''">
            WHERE title LIKE CONCAT('%', #{query}, '%')
        </if>
        ORDER BY no
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="countAll" resultType="int">
        SELECT COUNT(*) FROM travel
        <if test="query != null and query != ''">
            WHERE title LIKE CONCAT('%', #{query}, '%')
        </if>
    </select>

</mapper>
